<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avinfo.currency.info.currencycal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/currency"
        android:label="@string/app_name"
        android:roundIcon="@drawable/currency"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.avinfo.currency.info.currencycal.CurrencyConMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.avinfo.currency.info.currencycal.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--ADM ADS-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="120efd70e2622c4c4a35026d6177adeb1e1e55e3" />-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="120efd70e2622c4c4a35026d6177adeb1e1e55e3" />
    </application>
</manifest>
